# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
**/.env
**/.env.*
*.env


# Database storage
server/data/

# TypeScript build info
*.tsbuildinfo

# Client build and lint logs
client/dist/
client/lint_errors.json
test_journal.js
